@font-face {
	font-family: "iconfont";
	src: url('../fonts/font_914811_rbqcj228bki.eot'); /* IE9 */
	src: url('../fonts/font_914811_rbqcj228bki.eot') format('embedded-opentype'), /* IE6-IE8 */  /*url('../fonts/eeeb3108d0ba40599367005af6ff11f7.woff') format('woff2'),*/ url('../fonts/font_914811_rbqcj228bki.woff') format('woff'), url('../fonts/font_914811_rbqcj228bki.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */ url('../fonts/font_914811_rbqcj228bki.svg') format('svg'); /* iOS 4.1- */
}
.iconfont {
	font-family: "iconfont" !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-close:before {
	content: "\e616";
}
.icon-fenpeijiashiyuan:before {
	content: "\e6de";
}
.icon-xinlang:before {
	content: "\e61f";
}
.icon-weixin:before {
	content: "\e7e5";
}
.icon-xiangshang2:before {
	content: "\e76e";
}
.icon-xiangxia2:before {
	content: "\e772";
}
.icon-qian:before {
	content: "\e671";
}
.icon-a2:before {
	content: "\e606";
}
.icon-bofang:before {
	content: "\e6bf";
}
.icon-qq:before {
	content: "\e630";
}
.icon-rili:before {
	content: "\e6a3";
}
.icon-feedback:before {
	content: "\e60f";
}
.icon-icon_feedback:before {
	content: "\e620";
}
.icon-jiantou:before {
	content: "\e6b1";
}
.icon-xiangyou:before {
	content: "\e798";
}
.icon-xiangzuo:before {
	content: "\e799";
}
.icon-wo:before {
	content: "\e7ab";
}
.icon-fahuo:before {
	content: "\e67e";
}
.icon-bingtu:before {
	content: "\e605";
}
.icon-friends:before {
	content: "\e6c0";
}
.icon-xinjian:before {
	content: "\e673";
}
.icon-shouye:before {
	content: "\e6e8";
}
.icon-location:before {
	content: "\e607";
}
.icon-gongsi:before {
	content: "\e6a4";
}
.icon-yuangong:before {
	content: "\e951";
}
.icon-a3:before {
	content: "\e602";
}
.icon-a1:before {
	content: "\e6f8";
}
.icon-sousuo:before {
	content: "\e604";
}
.icon-jiantou1:before {
	content: "\e7e6";
}
.icon-jieshoupeihao:before {
	content: "\e600";
}
.icon-yemian-copy-copy:before {
	content: "\e601";
}
.icon-fahuo1:before {
	content: "\e603";
}
